parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Encoder\\\\Serialized\\\\Node\\:\\:getContent\\(\\)\\.$#"
			count: 1
			path: src/Processor/Encoder/Serialized/Node/ArrayElementNode.php

		-
			message: "#^Class Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Encoder\\\\Serialized\\\\Node\\\\ArrayNode implements generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Processor/Encoder/Serialized/Node/ArrayNode.php

		-
			message: "#^Class Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Encoder\\\\Serialized\\\\Node\\\\ArrayNode implements generic interface Iterator but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Processor/Encoder/Serialized/Node/ArrayNode.php

		-
			message: "#^Method Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Encoder\\\\Serialized\\\\Node\\\\ArrayNode\\:\\:getProperties\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Processor/Encoder/Serialized/Node/ArrayNode.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Encoder\\\\Serialized\\\\Node\\:\\:getContent\\(\\)\\.$#"
			count: 1
			path: src/Processor/Encoder/Serialized/Node/AttributeNode.php

		-
			message: "#^Class Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Encoder\\\\Serialized\\\\Node\\\\ObjectNode implements generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Processor/Encoder/Serialized/Node/ObjectNode.php

		-
			message: "#^Class Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Encoder\\\\Serialized\\\\Node\\\\ObjectNode implements generic interface Iterator but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Processor/Encoder/Serialized/Node/ObjectNode.php

		-
			message: "#^Method Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Encoder\\\\Serialized\\\\Node\\\\ObjectNode\\:\\:getProperties\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Processor/Encoder/Serialized/Node/ObjectNode.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\LLPhant\\\\Chat\\:\\:generateText\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/ApplicationGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\LLPhant\\\\Chat\\:\\:setSystemMessage\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/ApplicationGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\LLPhant\\\\Chat\\:\\:generateText\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/ColumnGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\LLPhant\\\\Chat\\:\\:setSystemMessage\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/ColumnGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:city\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:country\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:email\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:firstName\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:lastName\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:name\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:userAgent\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:userName\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\LLPhant\\\\Chat\\:\\:generateText\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\LLPhant\\\\Chat\\:\\:setSystemMessage\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Method Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Processing\\\\AutoConfiguration\\\\Guesser\\\\MeaningGuesser\\:\\:looksLikeMd5Hash\\(\\) is unused\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Method Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Processing\\\\AutoConfiguration\\\\Guesser\\\\MeaningGuesser\\:\\:looksLikeSha1Hash\\(\\) is unused\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Method Waldhacker\\\\Pseudify\\\\Core\\\\Processor\\\\Processing\\\\AutoConfiguration\\\\Guesser\\\\MeaningGuesser\\:\\:looksLikeSha256Hash\\(\\) is unused\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/MeaningGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\LLPhant\\\\Chat\\:\\:generateText\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/TableGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\LLPhant\\\\Chat\\:\\:setSystemMessage\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/AutoConfiguration/Guesser/TableGuesser.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:ipv4\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/Pseudonymize/DataManipulatorPreset.php

		-
			message: "#^Call to an undefined method Waldhacker\\\\Pseudify\\\\Core\\\\Faker\\\\Faker\\:\\:ipv6\\(\\)\\.$#"
			count: 1
			path: src/Processor/Processing/Pseudonymize/DataManipulatorPreset.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: src/Processor/PseudonymizeProcessor.php
